<ul class="nomarker" id="quotes" infinite-scroll="moreQuotes()"> 
    <li class="quote" ng-class-even="'even'"
        ng-repeat="quote in quotes"
        ng-include="'/static/partials/quote-single.html'">
    </li>
</ul>
<div class="throbber" ng-show="more_loading">
    Loading more quotes..
</div>
<div ng-hide="more_pages">
    <p>No more quotes to see. Maybe you should go take a walk.</p>
</div>
